
<div id="loginForm" class="padding-10">
    <c:url value='/j_spring_security_check' var="action"/>

    <form:form name="loginForm" modelAttribute="<%=LoginConstants.ATTR_LOGIN_PTO%>" action="${action}" method="POST">
        <f:inputrow path="username_" labelCode="label-username" required="true"/>
        <f:passwordrow path="password_" labelCode="label-password" required="true"/>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

        <bs:button type="submit" cssClass="btn-default">
            <spring:message code="label-login"/>
        </bs:button>
    </form:form>

</div>