
<%--@elvariable id="page" type="cz.mjanys.iface.dto.Page"--%>
<%--@elvariable id="articles" type="java.util.List<cz.mjanys.iface.dto.Article>"--%>
<%--@elvariable id="dialogId" type="java.lang.String    "--%>

<div class="modal fade" id="${dialogId}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div id="${dialogId}_ajax">
            <%@include file="article_form.jspf"%>
        </div>
    </div>
</div>
