
<%--@elvariable id="page" type="cz.mjanys.iface.dto.Page"--%>

<c:forEach items="${page.contents}" var="content">
    <div class="page-content">
        <fieldset>
            <legend>
                <spring:message code="page-content"/>
            </legend>



        </fieldset>
    </div>
</c:forEach>