<%@ page import="cz.mjanys.web.page.PageConstants" %>
<%--@elvariable id="parentPage" type="java.lang.String"--%>
<%--@elvariable id="pagePto" type="cz.mjanys.web.layout.pto.PagePto"--%>
<%--@elvariable id="pages" type="java.util.List<cz.mjanys.iface.dto.Page>"--%>

<c:set var="pageMapping" value="<%=PageConstants.PAGE_MAPPING%>"/>

<div id="addPageForm" class="padding-10">
    <c:url value="/layout/save_page" var="saveUrl"/>

    <form:form action="${saveUrl}" modelAttribute="<%=LayoutConstants.ATTR_PAGE_PTO%>" method="POST">

        <form:errors element="div" cssClass="${errorClass}"/>

        <form:hidden path="id"/>
        <f:inputrow path="title" labelCode="label-page-title" required="true"/>
        <f:row path="friendlyUrl" required="true">
            <f:label code="label-friendly-url"/>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <%--TODO: <c:out value="${pageMapping}"/>--%>
                    /
                </span>
                <f:input/>
            </div>
            <f:errors/>
        </f:row>
        <f:selectrow path="layout" labelCode="label-layout" required="true"
                     items="${pageLayouts}" itemValue="layout" itemLabel="layoutName"/>
        <f:selectrow path="articleLayout" labelCode="label-article-layout" required="true"
                     items="${articleLayouts}" itemValue="layout" itemLabel="layoutName"/>
        <f:selectrow path="parentId" labelCode="label-parent-page" required="true"
                     items="${pages}" itemValue="id" itemLabel="title"/>
        <f:checkboxrow path="visible" labelCode="label-visible" required="true"/>

        <bs:button type="submit" cssClass="btn-default">
            <c:choose>
                <c:when test="${empty pagePto.id}">
                    <spring:message code="label-create-page"/>
                </c:when>
                <c:otherwise>
                    <spring:message code="label-update-page"/>
                </c:otherwise>
            </c:choose>
        </bs:button>

    </form:form>
</div>
