@import "sticky-footer.css";

.padding-10 {
    padding: 10px;
}

.ucfirst {
    display: block;
}

.ucfirst:first-letter {
    text-transform: uppercase;
}

#footer {
    padding-top: 15px;
}

.bold {
    font-weight: bold;
}

td.actions a {
    padding-right: 8px;
    zoom: 120%;
}

td.actions a:hover {
    text-decoration: none;
    color: #000000;
}

.large-emoticon {
    font-size: 130px;
}

.form-group.required label.control-label:after {
    content: "*";
    color: red;
}

input[type="radio"], input[type="checkbox"] {
    height: 17px;
    width: 17px;
}

#admin-menu {
    position: absolute;
    left: 0;
    top: 100px;
}

@media (min-width: 920px) {
    .modal-dialog {
        width: 910px;
    }
}

.modal-dialog .note-editable {
    min-height: 100px;
}

.add-article {
    padding-top: 5px;
}

.node-tags {
    display: inline-block;
    margin-left: 10px;
}

.node-tags>* {
    padding: 0 2px 0 2px;
}

.node-tags a:hover {
    text-decoration: none;
}

.tree .ui-sortable-handle {
    cursor: move;
}

.tree .ui-state-highlight {
    border: dashed thin #a9a9a9;
    height: 39px;
    display: block;
    padding: 10px 5px 0 5px;
}

#admin-menu {
    display: none;
}
@media (min-width: 1430px) {
    #admin-menu {
        display: block;
    }
}

.article-author {
    font-style: italic;
}

/*DROPDOWN MENU http://www.bootply.com/nZaxpxfiXz*/
.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 0;-moz-border-radius:0 6px 6px 0;border-radius:0 6px 6px 0;}
/*.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}*/
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.menu-caret {
    font-size: 85%;
    padding: 3px;
}

.menu-caret:hover {
    border-radius:100%;
    background:#bbbbbb;
}

.glyphicon-chevron-right.menu-caret {
    float: right;
}

.nav-pills input[type='radio'] {
    display: none;
}

.nav-pills label {
    margin: 0;
}

.article-wrapper h1, .article-wrapper h2, .article-wrapper h3, .article-wrapper h4 {
    margin-top: 0;
}

.carousel-inner {
    min-height: 250px;
}

.carousel-caption {
    position: initial;
    color: #222222;
}