<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="f" tagdir="/WEB-INF/tags/form" %>
<%@ taglib prefix="layout" tagdir="/WEB-INF/tags/layout" %>

<c:set var="contextPath"><%=request.getContextPath()%></c:set>

<%@ taglib prefix="t" tagdir="/WEB-INF/tags/template" %>
<%@ taglib prefix="h" tagdir="/WEB-INF/tags/html" %>
<%@ taglib uri="http://efsavage.com/twitter-bootstrap" prefix="bs" %>

<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>

<sec:authorize ifAllGranted="ADMIN_ROLE">
    <c:set var="admin" value="${true}" scope="request"/>
</sec:authorize>

<sec:authorize ifAllGranted="EDITOR_ROLE">
    <c:set var="editor" value="${true}" scope="request"/>
</sec:authorize>