<%--@elvariable id="currentPage" type="cz.mjanys.iface.dto.Page"--%>
<%--@elvariable id="liClass" type="java.lang.String"--%>

<li class="${liClass}">
    <c:url value="/layout/manage_pages" var="url"/>
    <a href="${url}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        <spring:message code="label-manage-pages"/>
    </a>
</li>
