<ul class="nav navbar-nav navbar-right">
    <sec:authorize ifAllGranted="ADMIN_ROLE">
        <li>
            <c:url value="/admin" var="adminUrl"/>
            <a href="${adminUrl}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <spring:message code="label-users"/>
            </a>
        </li>
    </sec:authorize>
    <sec:authorize ifAllGranted="EDITOR_ROLE">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                <spring:message code="label-page"/>
                <span class="caret"></span>
            </a>
            <%@include file="/WEB-INF/jsp/fragments/page/page_admin_menu.jspf"%>
        </li>
    </sec:authorize>
    <sec:authorize ifNotGranted="ROLE_ANONYMOUS">
        <li>
            <c:url value="/logout" var="logoutUrl"/>
            <a href="${logoutUrl}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                <spring:message code="label-logout"/>
            </a>
        </li>
    </sec:authorize>
</ul>